########################
# Node / Next.js
########################
node_modules/
.next/
dist/
build/
out/
.cache/

########################
# Python
########################
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/

########################
# Env Files
########################
.env
.env.local
.env.*
backend/.env
frontend/.env

########################
# Logs
########################
logs/
*.log

########################
# System Files
########################
.DS_Store
Thumbs.db

########################
# IDE Folders
########################
.vscode/
.idea/
